OPENAI_API_KEY=
MONGO_URI=
GUPSHUP_APP_ID=
GUPSHUP_TOKEN=
GUPSHUP_APP_NAME=
GUPSHUP_API_KEY=
ENV_MODE="dev"
PINECONE_API=
PINECONE_NAMESPACE=
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_X509_CERT_URL=
